@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
  --delay: 0s;
}

* {
  outline: none;
  box-sizing: border-box;
  user-select: none;
  /* Mencegah teks dipilih */
  -webkit-tap-highlight-color: transparent;
  /* Menghilangkan efek highlight di mobile */
}

i:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
}

html,
body {
  touch-action: manipulation;
}

.wrapper {

  background-color: #f6f5f5;
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}


.dark-mode {
  background-color: #0e0e23;
  color: #fff;
}

body,
.wrapper {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.left-side {
  width: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 117px 0 40px;
  -webkit-animation: left 1s var(--delay) both;
  animation: left 1s var(--delay) both;
}

.left-side svg {
  width: 24px;
  cursor: pointer;
}

.left-side svg+svg {
  margin-top: 34px;
}

.left-side svg:last-child {
  margin-top: auto;
}

.left-side svg.active,
.left-side svg:hover {
  color: #4255d4;
}

@-webkit-keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding-left: 0;
  overflow-x: hidden;
}

.header {
  background: #141834;
  background: radial-gradient(circle, #697565bf 0%, #dddde2 100%);
  box-shadow: 0 3px 32px #656578;
  width: 100%;
  padding: 0 30px;
  -webkit-animation: top 1s both;
  animation: top 1s both;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 15px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header:before {
  content: "";
  width: 100%;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #0e0e23;
}

.header-link {
  color: #9b9ca7;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
  color: black;
}

.header-link svg {
  width: 20px;
  margin-right: 14px;
}

.header-link.active,
.header-link:hover {
  border-bottom: 3px solid #4255d4;
  text-decoration: none;
}

.header-link i {
  width: 20px;
  margin-right: 14px;
  text-decoration: none;
}

.logo {
  padding: 20px 50px 20px 0;
  font-size: 16px;
  color: #001A6E;
}

.logo-det {
  background: #4255d4;
  padding: 8px;
  margin-left: -2px;
  border-radius: 50%;
  font-size: 15px;
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.user-info svg {
  width: 20px;
}

.user-info .profile {
  margin: 0 20px 0 12px;
  width: 18px;
}

.button {
  display: flex;
  align-items: center;
  color: #9b9ca7;
  background: #1a1b3c;
  border: none;
  padding: 2px 12px;
  border-radius: 4px;
  margin-right: 20px;
}

.button svg {
  margin-left: 10px;
  width: 16px;
}

.user-box {
  margin-top: 25px;
  display: flex;
}

.user-box+.user-box {
  margin-top: 20px;
}

.user-box+.user-box .cards-wrapper {
  margin-left: 0;
  flex-grow: 1;
  max-width: none;
}

.user-box+.user-box .today {
  margin-left: 30px;
}

.user-box+.user-box .cards-header {
  padding: 20px 30px;
  justify-content: space-between;
}

.user-box .cards-header,
.user-box .cards-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-box .cards-header svg,
.user-box .cards-view svg {
  width: 24px;
}

.user-box .cards-header .title,
.user-box .cards-view .title {
  margin: 0 16px;
  font-size: 17px;
}

.user-box .cards-header-date svg,
.user-box .cards-view-date svg {
  width: 30px;
}

.user-box .cards-header .cards-button,
.user-box .cards-view .cards-button {
  background: #929c96;
  padding: 10px 16px;
  margin-right: 0;
  color: #000000;
  cursor: pointer;
}

.user-box .cards-header .cards-button:active {
  background: #4f6e5c;
}

.user-box .cards-header .cards-button svg,
.user-box .cards-view .cards-button svg {
  width: 16px;
  margin: 0 2px 0 0;
}

.user-box .cards-header .date-wrapper,
.user-box .cards-view .date-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}

.user-box .cards-header .date-wrapper .title,
.user-box .cards-view .date-wrapper .title {
  margin: 0 16px;
}

.cards-view>svg {
  margin-right: 12px;
}

.today {
  position: relative;
}

.today:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ef415c;
  bottom: -8px;
  right: 50%;
  border-radius: 50%;
}

.card {
  background: #1a2049;
  background: radial-gradient(circle, #d7d9da 0%, #e7e2e2 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 430px;
  width: 100%;
}

.card .title {
  font-size: 16px;
  font-weight: 500;
}

.card .subtitle {
  font-size: 15px;
  line-height: 1.9em;
}

.card+.card {
  margin-left: 20px;
}

.activity {
  max-width: 480px;
}

.activity .title {
  margin-bottom: 20px;
}

.activity-links {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 15px;
}

.activity-link {
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.activity-link+.activity-link {
  margin-left: 25px;
}

.activity-link+.activity-link:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #ef415c;
  top: -2px;
  right: -8px;
  border-radius: 50%;
}

.activity-link+.activity-link:hover:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background: #4255d4;
  left: 0;
  bottom: 0;
}

.activity-link+.activity-link:hover {
  color: #bebec4;
  -webkit-text-stroke: 0.3px;
}

.activity-link.active {
  color: #bebec4;
  font-weight: 500;
}

.activity-link.active:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background: #4255d4;
  left: 0;
  bottom: 0;
}

.destination {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.destination-card {
  background: #1a1d3a;
  background: linear-gradient(45deg, #697565bf 0%, #cdc9c9 100%);
  padding: 20px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Memisahkan bagian atas, tengah, dan bawah */
}

.top,
.mid,
.bottom {
  display: flex;
  justify-content: space-around;
  /* Mengatur item secara merata di sepanjang lebar container */
  align-items: center;
  /* Menyelaraskan item secara vertikal */
  text-align: center;
  /* Memastikan elemen di tengah */
  margin-bottom: 10px;
  /* Memberikan jarak antara bagian atas, tengah, dan bawah */
}

.mid,
.bottom {
  flex-wrap: wrap;
  /* Membiarkan elemen membungkus jika terlalu lebar */
}

.mid span,
.bottom span {
  display: flex;
  flex-direction: column;
  /* Menempatkan teks dan angka dalam kolom */
  align-items: center;
  /* Menyelaraskan teks di tengah */
  flex-basis: 60px;
  /* Mengatur lebar minimum untuk span agar tetap seimbang */
  max-width: 60px;
  /* Maksimal lebar agar tidak terlalu lebar */
  font-weight: bold;
}

.top i {
  font-size: 34px;
  color: #47663B;
}

.top i:active {
  color: #135446;
}

.top i:hover {
  cursor: pointer;
}

.mid span:hover {
  cursor: pointer;
}



.mid span {
  font-size: 15px;
  padding: 7px;
  border-radius: 14px;
  margin-bottom: 20px;
  color: #2A3335;
}

.destination-card+.destination-card {
  margin-left: 20px;
  background: #1a1d3a;
  background: linear-gradient(325deg, #1a1d3a 0%, #212752 100%);
}



.discount {
  max-width: 420px;
  width: 100%;
}

.discount .title {
  margin-bottom: 30px;
}

.discount .subtitle {
  margin-bottom: 8px;
}

.discount .subtitle-count {
  font-size: 17px;
  color: #5CB338;
  font-weight: 500;
}

.discount .subtitle-count+.subtitle {
  margin-top: 20px;
}

.discount .subtitle-count.dist {
  color: #e85471;
}

.discount-wrapper {
  display: flex;
}

.discount-chart {
  margin-left: auto;
  margin-right: 30px;
}

.discount-profile {
  display: flex;
  flex-direction: column;
  /* Menyusun elemen dalam kolom */
  margin-top: 40px;
}

.profile-content {
  display: flex;
  align-items: center;
  /* Sejajarkan gambar dan detail secara horizontal */
  margin-top: 20px;
  /* Jarak antara span "by" dan konten gambar/detail */
  margin-bottom: 30px;
}

.discount-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  /* Jarak antara gambar dan detail */
}

.discount-detail {
  display: flex;
  flex-direction: column;
  /* Detail dalam kolom */
}

.discount-name {
  font-weight: 500;
  font-size: 15px;
}

.discount-type {
  font-size: 13px;
  margin-top: 4px;
}

.by {
  font-size: 14px;
  font-weight: bold;
}


.circle {
  width: 100px;
  height: 100px;
  border: 3px solid #5b5f78;
  border-radius: 50%;
  position: relative;
}

.pie {
  position: relative;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.pie svg circle {
  fill: transparent;
  stroke: #7db468;
  stroke-width: 14;
  stroke-dasharray: 275;
  stroke-dashoffset: 235;
  -webkit-animation: pieChart 3.8s linear forwards;
  animation: pieChart 3.8s linear forwards;
}

@-webkit-keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}

.counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3e50c5;
  font-weight: 500;
}

.offer-button {
  background: #697565;
  padding: 14px;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-right: 0;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.cards-header {
  background: #697565;
  border-radius: 6px 6px 0 0;
  padding: 30px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #F5EFFF;
}

.cards-header-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-header-date svg {
  color: #4154d1;
  background: #14183c;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}

.cards-wrapper {
  margin-left: 20px;
  max-width: 405px;
  width: 100%;
}

.cards-hour {
  font-size: 26px;
}

.cards-hour .am-pm {
  font-size: 15px;
  font-weight: 500;
}

.cards.card {
  border-radius: 0 0 6px 6px;
  padding: 30px 20px;
  height: auto;
}

.cards.card svg {
  width: 24px;
  margin-left: auto;
  color: #818394;
}

.cards-head {
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}

.items.numbers {
  margin-top: 0;
}

.item {
  flex: 0 1 calc(100% / 7);
  padding: 13px 5px;
  text-align: center;
}

.item.is-active {
  width: 50px;
  /* Pastikan lebar dan tinggi sama */
  height: 50px;
  background: #94a0ed;
  border-radius: 50%;
  /* Membuat elemen menjadi lingkaran */
  color: #fff;
  display: flex;
  /* Untuk memastikan konten di dalam lingkaran terpusat */
  align-items: center;
  /* Vertikal rata tengah */
  justify-content: center;
  /* Horizontal rata tengah */
  text-align: center;
}

.item.disable {
  color: #595b5b;
}

.account {
  width: 100%;
  height: 180px;
  margin-top: auto;
  flex-grow: 0;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
}

.account:hover {
  transform: scale(1.02);
}

.account:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  box-shadow: -15px 0 0 0 #ef8741;
  background: #ef415c;
  top: 20px;
  left: 42px;
  border-radius: 50%;
}

.account-wrapper {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  background-color: #69756591;
}

.account-profile {
  margin: auto;
  position: relative;
  text-align: center;
  position: relative;
}

.account-profile img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
  border: 3px solid #4255d3;
  padding: 5px;
}

.account-profile .blob {
  position: absolute;
  border-radius: 50%;
  -webkit-animation: fly 5.8s linear infinite alternate;
  animation: fly 5.8s linear infinite alternate;
}

.account-profile .blob:nth-child(1) {
  width: 14px;
  height: 14px;
  top: 25px;
  left: -20px;
  background: #28327a;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.account-profile .blob:nth-child(2) {
  width: 18px;
  height: 18px;
  background: #87344c;
  right: -20px;
  top: -20px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.account-profile .blob:nth-child(3) {
  width: 12px;
  height: 12px;
  background: #13645b;
  right: -35px;
  top: 50%;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.account-name {
  margin: 20px 0 10px;
}

.account-title {
  font-size: 20px;
}

.account-cash {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
  padding-top: 16px;
  position: relative;
}

.account-cash:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #9b9ca7;
  right: 10px;
  border-radius: 50%;
  box-shadow: -10px 0 0 0 #9b9ca7, 10px 0 0 0 #9b9ca7;
  top: 24px;
}

.account-income {
  font-size: 14px;
}

.account-iban {
  margin-top: auto;
  font-weight: 500;
}

.time {
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #9e5924;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.time.is-wait {
  background: #4255d3;
}

.table .status {
  color: #1aa385;
  display: inline-flex;
  align-items: center;
}

.table .status svg {
  margin-right: 6px;
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 4px;
  background-color: #c3d1b9;
  color: currentColor;
}

.table .status.is-red {
  color: #d14b69;
}

.table .status.is-red svg {
  background: #eab6b6;
  color: currentcolor;
}

.table .status.is-wait {
  color: #3E4EC2;
  position: relative;
}

.table .status.is-wait:before {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #1a214d;
  border-radius: 4px;
}

.table .status.is-wait svg {
  background-color: transparent;
  color: currentcolor;
  -webkit-animation: turn 2s linear infinite both;
  animation: turn 2s linear infinite both;
}

@-webkit-keyframes turn {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes turn {
  100% {
    transform: rotate(1turn);
  }
}

.table {
  text-align: left;
  padding: 0;
}

.table th {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 16px;
}

.table th:nth-child(n+5) {
  padding: 0 10px 16px;
}

.table td {
  font-size: 15px;
  vertical-align: middle;
  padding: 8px 0;
}

.table td:last-of-type {
  width: 100px;
}

.table td:nth-child(n+5) {
  padding: 0 10px;
}

.table td:nth-last-of-type(2) svg {
  width: 16px;
}

.table input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #9b9ca7;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 16px;
  transition: 0.25s;
  background-size: 0;
  background-position: center;
}

.table input:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-color: #252954;
  background-size: 12px;
  background-repeat: no-repeat;
}

@-webkit-keyframes fly {
  40% {
    transform: translate(-6px, -6px);
  }

  60% {
    transform: translate(-12px, -2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes fly {
  40% {
    transform: translate(-6px, -6px);
  }

  60% {
    transform: translate(-12px, -2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@media screen and (min-width: 1800px) {

  .second-box {
    margin-right: 50px;
  }
}

@media screen and (max-width: 500px) {

  .table td:nth-child(n+1),
  .table th:nth-child(n+1) {
    padding-right: 40px;
  }

  .table td {
    white-space: nowrap;
    /* Mencegah pembungkus teks */
  }

  .table-wrapperuser {
    overflow-x: auto;
  }

  /* Sticky header untuk kolom Modify dan Nama */
  .tableuser th:nth-child(1),
  /* Modify */
  .tableuser th:nth-child(2),
  /* Nama */
  .tableuser td:nth-child(1),
  /* Modify */
  .tableuser td:nth-child(2) {
    /* Nama */
    position: sticky;
    left: 0;
    background: radial-gradient(circle, #d7d9da 0%, #e7e2e2 100%);
    z-index: 1;
    padding: 40px;
    border-radius: 1px;
  }

  .tableuser th:nth-child(3),
  /* Asal */
  .tableuser td:nth-child(3) {
    /* Asal */
    padding-left: 20px;
    /* Mengatur jarak kiri */
  }

  /* Styling untuk kolom Modify */
  .tableuser th:nth-child(1),
  .tableuser td:nth-child(1) {
    width: 70px;
    text-align: center;
  }

  /* Styling untuk kolom Nama */
  .tableuser th:nth-child(2),
  .tableuser td:nth-child(2) {
    width: 150px;
  }



}

.modify .fa-pen-to-square {
  margin-right: 10px;
  background-color: #91AC8F;
  padding: 7px;
  border-radius: 7px;
  font-size: 16px;
  color: #525B44;
}

.modify .fa-pen-to-square:active {
  background-color: #092d29;
}

.modify .fa-trash {
  background-color: red;
  padding: 7px;
  border-radius: 7px;
  font-size: 16px;
  color: #DEE5D4;
}

.modify .fa-trash:active {
  background-color: #390202;
}

.table td:nth-child(n+1),
.table th:nth-child(n+1) {
  padding-right: 40px;
}

.table td {
  white-space: nowrap;
  /* Mencegah pembungkus teks */
}

.transection {
  flex-shrink: 0;
  max-width: 310px;
  width: 100%;
  margin-left: 20px;
}

.transection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.transection .is-wait {
  color: #3E4EC2;
}

.credit-wrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.credit-wrapper svg {
  width: 38px;
  padding: 3px;
  border-radius: 6px;
  margin-right: 12px;
}

.credit-wrapper path {
  width: 24px;
}

.credit-money {
  margin-left: auto;
}

.credit-money.is-active {
  color: #1aa385;
}

.credit-money.is-cancel {
  color: #d14b69;
}

.credit-money .is-wait {
  color: #3E4EC2;
}

.credit-status {
  font-size: 13px;
  font-weight: normal;
}

.credit-type {
  color: #e7e8ea;
  margin-bottom: 6px;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    max-width: 1200px;
  }

  .activity {
    width: 49%;
    max-width: none;
  }

  .discount {
    width: 48%;
    max-width: none;
    height: 100%;
  }

  .first-box {
    flex-wrap: wrap;
  }

  .first-box .cards-wrapper {
    width: 67%;
    max-width: none;
    margin: 20px 0;
  }

  .first-box .cards-wrapper .item.is-active {
    color: inherit;
  }

  .first-box .account-wrapper {
    max-width: none;
    width: calc(33% - 20px);
    margin: 20px 0 20px 20px;
  }

  .second-box {
    flex-wrap: wrap;
  }

  .second-box .cards-wrapper {
    margin-top: 40px;
    width: 66%;
  }

  .transection {
    margin-top: 40px;
    max-width: none;
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .time {
    display: none;
  }
}

@media screen and (max-width: 1060px) {

  .user-info .button,
  .user-info .hour {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .user-box .cards-view {
    display: none;
  }


  .cards-header-date {
    margin: auto;
  }
}

@media screen and (max-width: 930px) {
  .second-box .cards-wrapper {
    width: 100%;
  }

  .transection {
    width: 100%;
    margin-left: 0;
    height: 100%;
    margin-top: 20px;
    margin-right: 0;
  }

  .header-link {
    display: none;
  }

  .user-info .profile {
    margin-right: 0;
  }
}

.fa-bars {
  display: none;
  padding: 12px 0;
  font-size: 26px;
  left: 0;
}

@media screen and (max-width: 850px) {

  .activity-card,
  .discount {
    width: 100%;
  }

  .user-box .discount {
    margin-left: 0;
    margin-top: 20px;
  }

  .logo {
    display: none;
  }

  .left-side {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .activity-links,
  .destination {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1720px) {
  .first-box .account-wrapper {
    display: none;
  }

  .first-box .cards-wrapper {
    width: 100%;
  }

  .second-box .cards.card {
    overflow-y: auto;
  }

  .table-wrapperuser {
    overflow-x: auto;
  }

  /* Sticky header untuk kolom Modify dan Nama */
  .tableuser th:nth-child(1),
  /* Modify */
  .tableuser th:nth-child(2),
  /* Nama */
  .tableuser td:nth-child(1),
  /* Modify */
  .tableuser td:nth-child(2) {
    /* Nama */
    position: sticky;
    left: 0;
    background: radial-gradient(circle, #d7d9da 0%, #e7e2e2 100%);
    z-index: 1;
    padding: 40px;
    border-radius: 1px;
  }

  .tableuser th:nth-child(3),
  /* Asal */
  .tableuser td:nth-child(3) {
    /* Asal */
    padding-left: 20px;
    /* Mengatur jarak kiri */
  }

  /* Styling untuk kolom Modify */
  .tableuser th:nth-child(1),
  .tableuser td:nth-child(1) {
    width: 70px;
    text-align: center;
  }

  /* Styling untuk kolom Nama */
  .tableuser th:nth-child(2),
  .tableuser td:nth-child(2) {
    width: 150px;
  }

}

@media screen and (max-width: 420px) {
  .destination-card+.destination-card {
    display: none;
  }
}

.user-box>* {
  -webkit-animation: top 1s var(--delay) both;
  animation: top 1s var(--delay) both;
}


/* Style for leftbar (sidebar) */
.leftbar {
  height: 100vh;
  /* Full height */
  width: 200px;
  /* Set width of the sidebar */
  position: absolute;
  /* Positioned absolutely */
  top: 0;
  left: -200px;
  /* Initially hidden to the left */
  background: radial-gradient(circle, #4c5549 0%, #aaaab1 100%);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: transform 0.5s ease;
  /* Smooth slide transition */
  padding-top: 60px;
  /* Some top padding */
  z-index: 1001;
  /* Ensure it's above the overlay */
}

.leftbar a {
  padding: 15px 18px 15px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  transition: 0.3s;
  /* Smooth transition for link hover */

}

.leftbar a i {
  margin-right: 20px;
}

.leftbar a:hover {
  color: #f1f1f1;
  /* Change link color on hover */

}

.leftbar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 26px;
  margin-left: 50px;
}

/* Style for overlay */
.overlay {
  position: absolute;
  /* Fixed overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: none;
  /* Hidden by default */
  z-index: 1000;
  /* Below the sidebar */
  transition: 0.5s;
}

/* Show the overlay */
.overlay.active {
  display: block;
}

/* Active state for sliding in the leftbar */
.leftbar.active {
  transform: translateX(250px);
  /* Slide in from the left */
}

/* Untuk elemen dengan scroll */
::-webkit-scrollbar {
  display: none;
  /* Untuk browser berbasis WebKit seperti Chrome dan Safari */
}



.tableuser {
  width: 100%;
  border-collapse: collapse;
  /* Hilangkan jarak antar kolom */
  border-spacing: 0;
  /* Hilangkan spasi antar sel */
}

@media screen and (min-width: 1500px) {

  #tabel_pengeluaran {
    margin-left: 60px;
  }

}



#header_pemasukan {
  background: #91AC8F;
}

#header_pengeluaran {
  background: #55679C;
}

#header_pemasukan .title {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

#header_pengeluaran .title {
  color: #021526;
  font-size: 18px;
  text-transform: uppercase;
}

#header_pengeluaran i {
  font-size: 30px;
  color: #790000
}

#header_pemasukan i {
  font-size: 30px;
  color: #347928;
}

#header_pemasukan .cards-button {
  background-color: #a3c39b;
  color: black;
}

#header_pengeluaran .cards-button {
  background-color: #8e9ad2;
}


.cardauto {
  background: radial-gradient(circle, #d7d9da 0%, #e7e2e2 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: auto;
  width: 100%;
}


@media screen and (max-width: 500px) {
  #header_pemasukan .title {
    font-size: 14px;
  }

  #header_pengeluaran .title {
    font-size: 13px;
  }

}



.headerdashboard i {
  font-size: 20px;
  color: #1F4529;
}

.wrapper-empty {
  display: flex;
  flex-direction: column;
  /* Mengatur elemen secara vertikal */
  align-items: center;
  /* Memusatkan elemen secara horizontal */
  justify-content: center;
  /* Memusatkan elemen secara vertikal */
  height: 100vh;
  /* Mengambil tinggi penuh layar */
  text-align: center;
  /* Untuk teks di dalam elemen */
}

.empty_data {
  font-size: 20px;
  text-align: center;
}

.empty_data span {
  position: relative;
  font-size: 30px;
  color: #1F4529;
  font-weight: 600;
  display: inline-block;
  /* Ubah ke inline-block */
  margin-bottom: 30px;
}

.empty_data span i {
  color: red;
}


.container-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Atur lebar container */
  height: 100px;
  /* Atur tinggi container sesuai kebutuhan */
  position: relative;
  /* Tidak bergantung pada body */
}

.btn-empty {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #b0aac7;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #334234;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
}

.btn-empty:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #899692;
  z-index: -1;

}

.btn-empty:hover,
.btn-empty:focus {
  color: white;
}

.btn-empty:hover:before,
.btn-empty:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-empty:active {
  transform: scale(0.9);
}


#detail-info {
  display: none;
  /* Sembunyikan awalnya */
  position: absolute;
  border: 1px solid #204bd9;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 180px;
  background-color: #9fa3d9;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  top: 55px;
  /* Menyesuaikan posisi ke atas, bisa diubah sesuai keinginan */
  left: 55%;
}



#detail-info ul {
  list-style-type: none;
  /* Menghilangkan bullet atau tanda titik pada list */
  padding-left: 0;
  /* Menghapus padding kiri default dari list */
  color: #021526;
}

#detail-info li {
  margin: 10px 0;
  font-size: 15px;
}


.item.active {
  background-color: rgb(99, 161, 129);
  border-radius: 10px;
  color: #000000;
}


.penyewatenggat li {
  color: rgb(0, 0, 0);
}


.pie-chart {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.3s;
}

span.center {
  background: #b5a5a5;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  font-size: 17px;
  transform: translate(-50%, -50%);
}

.pie-chart p {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  transform: translate(-50%, -1%);
}